# Node.js dependencies
node_modules/

# Environment files
.env

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# SSH keys (ignore private/public keys)
edu_key.pub
edu_key.pem


.terraform/
